

<html>
<body onload='document.forms["redirectForm"].submit()'>
    <form name='redirectForm' method='post' action='@ViewBag.GatewayUrl'>
        <input type='hidden' name='RefId' value='@ViewBag.RefId' />
        <input id="MobileNo" type='hidden' name='MobileNo' value='@ViewBag.MobileNo' />
    </form>
</body>
</html>
